::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0 none #ffffff;
    border-radius: 50px;
    transition: .5s;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #f0f0f0;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0 none #ffffff;
    border-radius: 50px;
    transition: .5s;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
